.portal-contacts-list__item {
  cursor: pointer;
  height: 80px;
  padding: 0 16px;
}

.portal-contacts-list__item__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portal-search-field {
  padding-bottom: 20px;
}
