.panel {
  animation: portal-login 1s forwards 1;
  animation-delay: 0.6s;
  transform: translateY(20px);
  opacity: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}

.lock-actions {
  justify-content: space-between;
}

.signup-content {
  text-align: center;
}

.signup-logo {
  height: 64px;
}

@keyframes portal-login {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
