<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987929460767-gfij1cqojpciksu9i69j4q20rjoe2j41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987929460767-gfij1cqojpciksu9i69j4q20rjoe2j41</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>987929460767-2fn63rg11sn4k5srivt7tb1u8vr0gml0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVKXQP8BeOnuN4rjtVlDegmDC7vHwZj9M</string>
	<key>GCM_SENDER_ID</key>
	<string>987929460767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.CTA.eChatrel</string>
	<key>PROJECT_ID</key>
	<string>echatrel-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>echatrel-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987929460767:ios:04581359a4d0f5b397552a</string>
</dict>
</plist>