<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805523212166-osj9e06odhct70cen9n028ri06q4o2av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805523212166-osj9e06odhct70cen9n028ri06q4o2av</string>
	<key>API_KEY</key>
	<string>AIzaSyCJYaYuBTA_0vx4_tEex0-hbiTVzCPjAfY</string>
	<key>GCM_SENDER_ID</key>
	<string>805523212166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.CTA.eChatrel</string>
	<key>PROJECT_ID</key>
	<string>chatrel</string>
	<key>STORAGE_BUCKET</key>
	<string>chatrel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805523212166:ios:7cb4495a5365220a6cce07</string>
</dict>
</plist>